<% if user_signed_in? %>
  <% if item.liked_by?(current_user.id) %>
    <%= image_tag "star_yellow.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
    <%= link_to item_likes_path(item.id), method: :delete, remote: true, id: :"like-button-#{item.id}" do %>
      <i class="fa-lg fas fa-heart icon-btn liked"></i>
      <span>お気に入りを解除  <%= item.likes.length %></span>
    <% end %>
  <% else %>
    <%= image_tag "star_yellow.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
    <%= link_to item_likes_path(item.id), method: :post, remote: true, id: :"like-button-#{item.id}" do %>
      <i class="fa-lg fas fa-heart icon-btn not-like"></i>
      <span>お気に入り  <%= item.likes.length %></span>
    <% end %>
  <% end %>
<% else %>
  <%= image_tag "star_yellow.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
  <i class="fa-lg fas fa-heart icon-btn not-like"></i>
  <span>お気に入り  <%= item.likes.length %></span>
<% end %>