<%= render "shared/header" %>

<div class='main'>
  <!-- 出品中の商品 ----------------------------->
  <div class='item-contents'>
    <div class="title-bar">
      <h2 class="title-page-top">出品中の商品</h2>
    </div>

    <ul class='item-lists'>
      <% @items.each do |item|%>
        <%# 商品1つ１つ%>
        <%= render 'shared/item', item: item%>
        <%# 商品1つ１つ%>
      <% end %>
    </ul>

    <% if @items == nil %>
      <span>出品中の商品はありません</span>
    <% end %>
  </div>
  <!-- 出品中の商品 ------------------------------>


  <!-- お気に入りを押した商品 ---------------------->
  <div class='item-contents'>
    <div class="title-bar">
      <h2 class="title-page-top">お気に入りの商品</h2>
    </div>

    <ul class='item-lists'>
      <% if current_user.likes.blank? %>
      <%# current_userにひもづくlikesのレコードがあるか %>
      <%# @like.current_userもOKだが、controllerで@likeの定義が必要 %>
        <span>お気に入りの商品はありません</span>
      <% else%>
        <% current_user.likes.each do |like| %>
          <%= render 'shared/item', item: like.item %>
        <% end %>
      <% end %>
    </ul>     
  </div>
  <!-- お気に入りを押した商品 ---------------------->


  <!-- 個人情報編集 ------------------------------>
  <div class='item-contents'>
    <div class="title-bar">
      <h2 class="title-page-top">個人情報</h2>
    </div>

    <div class = "table-user" >
      <table border = "1" bordercolor= #dedede>
      <tr>
        <th class="detail-profile">ニックネーム</th>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <th class="detail-profile">メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th class="detail-profile">名前</th>
        <td><%= @user.family_name %><%= @user.first_name %></td>
      </tr>
      <tr>
        <th class="detail-profile">名前（カナ）</th>
        <td><%= @user.family_name_kana %><%= @user.first_name_kana %></td>
      </tr>
      <tr>
        <th class="detail-profile">誕生日</th>
        <td><%= @user.birth_date %></td>
      </tr class="detail-profile">
      </table>
        <%= link_to "編集する", edit_user_registration_path, class:"edit-btn" %>  
    </div>
  </div>
  <!-- 個人情報編集 ------------------------------>

<%= render "shared/footer" %>