<%= render "shared/header" %>

<div class="title-bar">
  <h2 class="title-page-top"><%= @category.name %></h2>
</div>
<!-- メインコンテンツ --------------->
<div class='main'>
  <!-- 検索画面 ---------------------->
  <div class="search-contents">
    <div class="form-box">
      <h2 class="more-search">さらに検索する</h2>
      <%= search_form_for @p, url: items_search_path do |f| %>
        <%= f.label :category_id, 'カテゴリー：' %>
        <%= f.collection_select :category_id, Category.all, :id, :name, selected: @category.id %>
        <br>
        <%= f.label :price, '価格：' %>
        <%= f.radio_button :price_lteq, '' %>
        指定なし
        <%= f.radio_button :price_lteq, '1000'%>
        1000円以下
        <%= f.radio_button :price_lteq, '3000'%>
        3000円以下
        <%= f.radio_button :price_lteq, '5000'%>
        5000円以下
        <%= f.radio_button :price_lteq, '10000'%>
        10000円以下
        <%= f.radio_button :price_gteq, '10000'%>
        10000円以上
        <br>
        <%= f.label :status_id, '商品の状態：' %>
        <%= f.collection_select :status_id, Status.all, :id, :name, include_blank: '指定なし' %>
        <br>
        <%= f.label :shipping_charge_id, '配送料の負担：' %>
        <%= f.collection_select :shipping_charge_id, ShippingCharge.all, :id, :name, include_blank: '指定なし'%>
        <br>
        <%= f.submit '検索' %>
        <br>
      <% end %>
    </div>  
  </div>
  <!-- 検索画面 ---------------------->


  <!-- 商品一覧表示 ---------------------->
  <div class='item-contents'>
    <ul class='item-lists'>
      <% @items.each do |item|%>
        <%# 商品1つ１つ%>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
            <div class='item-img-content'>
              <%= image_tag item.images[0], class: "item-img" %>
              <%# sold out 表示 %>
              <% if item.order.present?%>
                <div class='sold-out'>
                  <span>Sold Out!!</span>
                </div>
              <% end %>
              <%# sold out 表示 %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.item_name %>
              </h3>
              <div class='item-price'>
                <span><%= item.price%>円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
        <%# 商品1つ１つ%>
      <% end %>
    </ul>
  </div>
  <!-- 商品一覧表示 ---------------------->
</div>

<%= render "shared/footer" %>