<%= render "shared/header" %>

<div class = title-bar>
  <h1 class = title><%= @category.name %></h1>
</div>

<div class='main'>
  <!-- 検索画面 ---------------------->
  <div class="search-contents">
    <div class="form-box">
      <h2 class="more-search">さらに検索する</h2>
      <%= search_form_for @p, url: items_search_path do |f| %>
        <%= f.label :category_id, 'カテゴリー：' %>
        <%= f.collection_select :category_id, Category.all, :id, :name, selected: @category.id %>
        <br>
        <%= f.label :price, '価格：' %>
        <%= f.radio_button :price_lteq, '' %>
        指定なし
        <%= f.radio_button :price_lteq, '1000'%>
        1000円以下
        <%= f.radio_button :price_lteq, '3000'%>
        3000円以下
        <%= f.radio_button :price_lteq, '5000'%>
        5000円以下
        <%= f.radio_button :price_lteq, '10000'%>
        10000円以下
        <%= f.radio_button :price_gteq, '10000'%>
        10000円以上
        <br>
        <%= f.label :status_id, '商品の状態：' %>
        <%= f.collection_select :status_id, Status.all, :id, :name, include_blank: '指定なし' %>
        <br>
        <%= f.label :shipping_charge_id, '配送料の負担：' %>
        <%= f.collection_select :shipping_charge_id, ShippingCharge.all, :id, :name, include_blank: '指定なし'%>
        <br>
        <%= f.submit '検索' %>
        <br>
      <% end %>
    </div>  
  </div>
  <!-- 検索画面 ---------------------->

  <!-- 検索結果で条件分岐 ---------------------->
  <div class='item-contents'>
    <ul class='item-lists'>
      <% if @results.length !=0 %>
        <% @results.each do |result| %>
          <%# 商品1つ１つ%>
          <li class='list'>
            <%= link_to item_path(result.id) do %>
              <div class='item-img-content'>
                <%= image_tag result.images[0], class: "item-img" %>
                <%# sold out 表示 %>
                <% if result.order.present?%>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
                <%# sold out 表示 %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= result.item_name %>
                </h3>
                <div class='item-price'>
                  <span><%= result.price%>円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
          <%# 商品1つ１つ%>
          <% end %>
      <% else %>
        該当する商品はありません
      <% end %>
    </ul>
</div>

<%= link_to 'トップページへ戻る', root_path %>


